@import "../../styles/sizes.scss";

.ticket {
  height: 185px;
  width: 100%;
  max-width: 502px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  &__header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196f3;
  }

  &__logo {
    margin-right: 30px;
    height: 35px;
    width: 110px;
  }

  &__item {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__column {
    width: 140px;
    min-width: 90px;

    @media screen and (max-width: $md) {
      margin-right: 10px;
    }

    &:nth-child(2) {
      @media screen and (max-width: $md) {
        min-width: 60px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #a0b0b9;
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #4a4a4a;
  }
}
